.heading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.heading {
  font-size: 22px;
  font-weight: bold;
}

.text {
  font-size: 22px;
  line-height: 36px;
  color: #c4c5c5;
  margin-bottom: 30px;
}
.sign-in-wrapper {
  margin-top: 20px;
}
.has-invite {
  color: #0077ff;
}
.signin-link {
  color: #0077ff;
  text-decoration: none;
  font-weight: 700;
}
